<div class="container mainpage">
  <div class="row">
      <div class="col-xs-7">
        {{#each model.listings as |listing|}}
          {{#link-to 'listing' listing.id}}<li>{{listing.title}} - {{listing.text}}</li>{{/link-to}}
        {{/each}}
      </div>
      <div class="col-xs-4">
        <h2><u>New Listing</u></h2>
        {{new-listing saveNewListing="saveNewListing" listing=model.listing category=model.category}}
      </div>
  </div>
</div>
